<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbartop">
        <div class="container-fluid">
            <div class="navbar-header">
                <div href="#" class="navbar-brand">
                    <img class="brand-logo" alt="Brand" src="~/logo.png">
                </div>
            </div>
            <div>
                <ul class="list-inline navbar-right">
                    <li>@Html.ActionLink("Jaunākas ziņas", "Main", "News")</li>
                    <li>@Html.ActionLink("Tēmas", "Topics", "News")</li>
                    <li>@Html.ActionLink("Par mums", "About", "News")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

</body>
</html>
